.Header {
background-color: #b4afaf;
background-image: url("https://www.transparenttextures.com/patterns/gray-floral.png");
color: black;
font-family: 'Oranienbaum', serif;
height: 300px;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}