.Portfolio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  background-color: white;

  .Portfolio__block{
    width: 250px;
    height: 250px;
    filter:  blur(1px) grayscale(90%);
    opacity: 0.8;
    transition: 0.3s;
    border: solid 0.5px rgb(255, 255, 255)
  }

  .Portfolio__block:hover{
    filter: none;
    opacity: 1;
    cursor: pointer;
  }

  .Portfolio__small{
    width: 120px;
    height: 120px;
    filter:  blur(1px) grayscale(90%);
    opacity: 0.8;
    transition: 0.3s;
  }

  .Portfolio__small:hover{
    filter: none;
    opacity: 1;
    cursor: pointer;
  }
 
}




